<nav class="navbar">
  <div class="navbar__item">
    <a routerLink="/dashboard">
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Quantity of this field.
      </span>
    </a>
  </div>
  <div class="navbar__item">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon matBadge="3" matBadgeColor="warn">add_alert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <mat-list>
        <h3 mat-subheader>Notifications</h3>
        <mat-list-item>
          <h6 mat-line>Statistics</h6>
        </mat-list-item>
        <mat-list-item>
          <h6 mat-line>Statistics</h6>
        </mat-list-item>
        <mat-list-item>
          <h6 mat-line>Statistics</h6>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </div>
  <div class="navbar__item">
    <button mat-icon-button [matMenuTriggerFor]="avatar">
      <img src="./../../assets/images/tenor.gif" alt="avatar" width="30px">
    </button>
    <mat-menu #avatar="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>My posts</span>
      </button>
      <button mat-menu-item
        routerLink="/login"
      >
        <mat-icon>notifications_off</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
<nav>

