<nav class="navbar">
  <button class="navbar__item" mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <span class="cdk-visually-hidden">
      Quantity of this field.
    </span>
  </button>
  <button class="navbar__item" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
    <mat-icon matBadge="3" matBadgeColor="warn">add_alert</mat-icon>
    <mat-menu #menu="matMenu">
      <mat-list>
        <h3 mat-subheader>Notifications</h3>
        <span>Mark as read</span>
        <mat-list-item>
          <h6 mat-line>Statistics</h6>
        </mat-list-item>
        <mat-list-item>
          <h6 mat-line>Statistics</h6>
        </mat-list-item>
        <mat-list-item>
          <h6 mat-line>Statistics</h6>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </button>
  <button class="navbar__item w100" mat-icon-button color="accent" [matMenuTriggerFor]="avatar">
    <span>{{ currentUser?.name }}</span>
    <!-- <img src="./../../assets/images/tenor.gif" alt="avatar" width="30px"> -->
    <mat-menu #avatar="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>My posts</span>
      </button>
      <button mat-menu-item
        routerLink="/login"
      >
        <mat-icon>notifications_off</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </button>
<nav>

