
<div class="statistics">
  <mat-card class="widget">
    <div class="widget__img">
      <img src="../../../../assets/images/dashboard/area-chart-40.png" alt="widget chart"/>
    </div>
    <div class="widget__data">
        <h5>New Users</h5>
        <span>113</span>
    </div>
  </mat-card>
  <mat-card class="widget">
    <div class="widget__img">
      <img src="../../../../assets/images/dashboard/flow-chart-40.png" alt="widget chart"/>
    </div>
    <div class="widget__data">
        <h5>New Users</h5>
        <span>113</span>
    </div>
  </mat-card>
  <mat-card class="widget">
    <div class="widget__img">
      <img src="../../../../assets/images/dashboard/flow-chart-40.png" alt="widget chart"/>
    </div>
    <div class="widget__data">
        <h5>New Users</h5>
        <span>113</span>
    </div>
  </mat-card>
  <mat-card class="widget">
    <div class="widget__img">
      <img src="../../../../assets/images/dashboard/fraction-40.png" alt="widget chart"/>
    </div>
    <div class="widget__data">
        <h5>New Users</h5>
        <span>113</span>
    </div>
  </mat-card>
  <mat-card class="widget">
    <div class="widget__img">
      <img src="../../../../assets/images/dashboard/statistics-40.png" alt="widget chart"/>
    </div>
    <div class="widget__data">
        <h5>New Users</h5>
        <span>113</span>
    </div>
  </mat-card>
</div>
<div class="intro">
  <mat-card class="intro__item">
    <h2>ANNOUNCEMENTS</h2>
    <p>Provides all the information you need for studying at Hanoi University of Science and Technology</p>
    <button mat-raised-button color="primary"
      [routerLink]="['/dashboard/announcements']"
    >
      Official Documents
    </button>
  </mat-card>
  <mat-card class="intro__item">
    <h2>MANAGE YOUR REQUESTS</h2>
    <p>Provides all the information you need for studying at Hanoi University of Science and Technology</p>
    <button mat-raised-button color="primary">
      Official Documents
    </button>
  </mat-card>
</div>
